@font-face {
  font-family: "iconfont"; /* Project id 5076199 */
  src: url('iconfont.woff2?t=1764312378206') format('woff2'),
       url('iconfont.woff?t=1764312378206') format('woff'),
       url('iconfont.ttf?t=1764312378206') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianti:before {
  content: "\e637";
}

.icon-tianranqi:before {
  content: "\e639";
}

.icon-yigui:before {
  content: "\e636";
}

.icon-gengduo:before {
  content: "\e61e";
}

.icon-chuang:before {
  content: "\e623";
}

.icon-tingchechang:before {
  content: "\e624";
}

.icon-shuzhuo:before {
  content: "\e625";
}

.icon-zhinengmensuo:before {
  content: "\e626";
}

.icon-kuandai:before {
  content: "\e627";
}

.icon-shuba:before {
  content: "\e628";
}

.icon-xiyifang:before {
  content: "\e629";
}

.icon-dianshiji:before {
  content: "\e62a";
}

.icon-weibolu:before {
  content: "\e62b";
}

.icon-diancilu:before {
  content: "\e62c";
}

.icon-reshuiqi:before {
  content: "\e62d";
}

.icon-anquanjiankong:before {
  content: "\e62e";
}

.icon-chugui:before {
  content: "\e62f";
}

.icon-chouyouyanji:before {
  content: "\e630";
}

.icon-kongtiao:before {
  content: "\e631";
}

.icon-nuanqi:before {
  content: "\e632";
}

.icon-shafa:before {
  content: "\e633";
}

.icon-bingxiang:before {
  content: "\e634";
}

.icon-xiyiji:before {
  content: "\e635";
}

